/* Empty. Add your own CSS if you like */
.casino-bg {
  background-image: url("../img/casino_bg.jpg");
  background-size: cover;
  background-position: center center;
}
.flou {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);

  filter: blur(5px);
}

.div-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
